// -----------------------------------------------------------------------------
// This file contains all styles related to the tooltip component.
// -----------------------------------------------------------------------------

.hover-tooltip-link {
    display: inline-block;
    vertical-align: bottom;

    .rounded-icon {
        @include transition(background);

        &:hover {
            background: #9D9D9D;
            color: $white;
        }
    }
}

.hover-tooltip {
    font-size: map-get($font-sizes, 'md');
    color: $white;
    background: #3D3D3D;
    padding: 20px;
    max-width: 316px;
    border-radius: 7px;
}