/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  &:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

[type='checkbox'],
[type='radio'] {
  @extend .visually-hidden;
}

// list reset
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// text center
.text-center {
  text-align: center;
}

.break-txt {
  br {
    display: none;

    @include media('>=desktop') {
      display: inline;
    }
  }

  &--reverse {
    br {
      @include media('>=desktop') {
        display: none;
      }
    }
  }

  &--mobile {
    display: inline !important;
    
    @include media('>=tablet') {
      display: none !important;
    }
  }
}

.custom-br {
  @include media('>=phone') {
    display: none;
  }
}